.container {
  display: flex;
  flex-direction: column;
  background-color: #373d48;
  width: 100%;
  border-radius: 4px;
  padding: 1rem 0.7rem;
  cursor: pointer;
  color: var(--text-invert-color);
  margin-bottom: 0.8rem;
  -webkit-tap-highlight-color: transparent;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.type {
  color: gray;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.subject {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 3px;
}

.time-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--time-color);
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.cabinet-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  color: gray;
  gap: 5px;
}

.homework {
  margin-top: 0.3rem;
  font-size: 1rem;
}

.task {
  margin-top: 0.4rem;
  color: gray;
  padding: 0 1rem;
  font-size: small;
}
