.carousel-day {
  @media (min-width: 1050px) {
    width: 45%;
  }
}

.swiper-layout {
  min-height: 500px;
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 3%;
  height: 50%;
}