.carousel-day {
  @media (min-width: 1050px) {
    width: 45%;
  }
}

.swiper-layout {
  height: auto !important;
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 3%;
  max-height: 200vh;
}