.Typhography {
  color: var(--text-invert-color);
  font-size: 20px;
}

.primary {
  text-align: center;
  font-size: 20px;
}

.secondary {
  text-align: center;
  font-size: 18px;
}

.thirdy {
  text-align: center;
  font-size: 16px;
}
