.container {
  display: flex;
  flex-direction: column;
  background-color: var(--component-background-color);
  width: 100%;
  border-radius: 4px;
  padding: 1rem 0.7rem;
  color: var(--text-invert-color);
  margin-bottom: 0.8rem;
  gap: 5px;
  -webkit-tap-highlight-color: transparent;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}

.subject {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 3px;
}

.type {
  height: fit-content;
  padding: 0.1rem 0.6rem;
  border-radius: 16px;
  color: var(--text-invert-color);
  background-color: var(--time-color);
  font-size: 0.9rem;
}

.time-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--time-color);
  font-size: 0.75rem;
}

.cabinet-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  color: gray;
  gap: 5px;
}

.add-homework {
  display: flex;
  flex-direction: column;
}

.homework-title {
  text-align: start;
  font-size: 14px;
}

.homework-info {
  margin-top: 0.3rem;
  font-size: 1rem;
}

.task {
  margin-top: 0.4rem;
  color: gray;
  padding: 0 1rem;
  font-size: small;
}

.lect {
  background-color: #5b40fd;
}

.pract {
  background-color: #e48cd1;
}

.lab {
  background-color: #ff0016;
}

.cons {
  background-color: #b3fff2;
}

.zach {
  background-color: #e7bd84;
}

.exam {
  background-color: #fb6a6a;
}