.container {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title {
  text-align: center;
  color: var(--text-invert-color);
}

.form {
  margin: 30px auto auto;
  width: 88%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
