.container {
	display: flex;
	flex-direction: column;
	background-color: #373d48;
	width: 100%;
	border-radius: 10px;
	padding: 1rem 0.7rem;
	cursor: pointer;
	color: var(--text-invert-color);
	margin-bottom: 1rem;
}

.header {
	width: 100%;
}

.type {
	color: gray;
	font-size: 0.75rem;
	margin-bottom: 5px;
}

.subject {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 3px;
}

.time-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #625c8a;
	font-size: 0.75rem;
	margin-bottom: 5px;
}

.body {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	font-size: 0.8rem;
	color: gray;
	gap: 5px;
}