.desktop {
	display: none;

	@media (min-width: 1050px) {
		display: flex;
		flex-direction: row;
	}
}

.carousel-month {
	width: 55%;
}

.carousel-day {
	width: 45%;
	overflow-y: scroll;
	height: 60vh;
}