:root {
  --main-background-color: #1e1f26;
  --text-invert-color: #f8f9fa;
  --time-color: #5d89b3;
  --button-question-color: #8793a6;
  --border-base-color: gray;
  --border-focus-color: #5d89b3;
  --button-accept-color: #5d89b3;
  --max-width-mobile: 547px;
  --max-width-desktop: 1000px;

  font-family: 'Inter', sans-serif;
}

/* .html {
  scrollbar-color: var(--button-question-color) #888;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: var(--button-question-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
} */
