.selected {
	img {
		border-color: #008cd5;
	}
}

.CardContent {
	position: relative;
}

.CarouselContent {
	display: flex;
}

.CarouselItem {
	width: 100%;
}

.CarouselButton {
	position: absolute;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	border: 0.5px solid hsl(var(--border));
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(var(--background));
}

.CarouselButtonPreviousHorizontal {
	left: 3%;
	top: -100%;
	transform: translateY(-50%);
	position: absolute;
}

.CarouselButtonNextHorizontal {
	right: 3%;
	top: -100%;
	transform: translateY(-50%);
	position: absolute;
}

.reverse {
	transform: rotate(180deg);
}