.content {
  margin: 0 auto;
  background-color: var(--component-background-color);
  width: 40%;
  border-radius: 16px;
  padding: 1rem 0.7rem;
  color: var(--text-invert-color);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  button {
    margin: 0 auto;
  }
}
